---
---

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
}

a, a:visited {
    color: #666;
    text-decoration: none;
    &:hover,&:active {
        color: #DE4314;
    }
}

#main {
    width: 600px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    img { width: 100%; }
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        padding-bottom: 0.5em;
        font-size: 100%;
        vertical-align: baseline;
        margin: 0;
        }
}

time {
    float: left;
    background: transparent;
    padding: 0 1em 0 1em;
    span {
        display: block;
        text-align: center;
        color: #6D9EAB;
        margin: 0;
        padding: 0 auto;
    }
}

.day {
    font-size: 1.4em;
    line-height: 0.8em;
}
.month {
    font-size: 1em;
    }

.year { font-size: 0.8em; }

.post-title {
    text-align: left;
    font-size: 100%;
    padding: 1em;
}

.comments {
    display: inline;
    float: right;
}

header#page-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    a,a:visited {
        color: #DE4314;
        &:hover,&:active { color: #CCC; }
    }
}

article {
    section {
        padding-top: 2em;
        text-align: justify;
    }
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    p { text-align: left; }
    ul {
        text-align: left;
        li {
            display: inline;
        }
    }
    a,a:visited {
        color: #6D9EAB;
        &:hover,&:active { color: #CCC; }
    }
}

pre {
    -moz-border-radius: 3px;
    border: 1px solid #DE4314;
    background: #202020;
    color: #D0D0D0;
    padding: auto;
    padding: 1em;
}
