---
---

* {
    margin: 0;
    padding: 0;
}


html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;
    font-family: monospace;
}

a, a:visited {
    color: #666;
    text-decoration: none;
    &:hover,&:active {
        -moz-transition: 0.3s;
        color: #DE4314;
    }
}

#main {
    width: 600px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    img { width: 100%; }
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        padding-bottom: 0.5em;
        font-size: 100%;
        vertical-align: baseline;
        padding-bottom: 2em;
        }
}

time {
    float: left;
    background: transparent;
    padding: 0 1em 0 1em;
    span {
        display: block;
        text-align: center;
        color: #6D9EAB;
        margin: 0;
        padding: 0 auto;
    }
}

.day {
    font-size: 1.4em;
    line-height: 0.8em;
}
.month {
    font-size: 1em;
    }

.year { font-size: 0.8em; }

.post-title {
    text-align: left;
    font-size: 100%;
    padding-top: 0.5em;
    margin:0 ;
}


header#page-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 2em;
    a,a:visited {
        color: #DE4314;
        &:hover,&:active { color: #CCC; }
    }
}

nav {
    min-width: 950px;
    z-index: 9 !important;
    ul {
        height: 35px;
        white-space: nowrap;
        width: 950px;
        margin: 0;
        padding: 0;
        padding-bottom: 5em;
        li {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            display: inline;
            float: left;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                display: block;
                font-size: 18px;
                width: 150px;
                line-height: 45px;
                text-align: center;
                text-transform: uppercase;
                &:hover, &:active {
                    background: #6D9EAB;
                    color: #FFFFFF !important;
                    -moz-transition: 0.6s;
                }
            }
        a.active { color: #6D9EAB; }
        a.inactive { text-decoration: line-through; }
        }
    }
}

article {
    section {
        padding-top: 4em;
        p {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }
    }
}

pre {
    -moz-border-radius: 3px;
    border: 1px solid #DE4314;
    background: #202020;
    color: #D0D0D0;
    padding: 1em;
}

.category {
    font-size: 1.8em;
    color: #202020;
    padding-bottom: 1.5em;
}

.meta {
    display: inline;
    text-transform: lowercase;
    padding-bottom: 0.5em;
    .comments { float: right; }
}

a {
    &.prev, &.next {
        display: inline;
        color: #DE4314;
        float: right;
        margin-top: -0.6em;
        font-size: 5em;
        line-height: 100%;
        &:hover,&:active { color: #CCC; }
    }
}

footer {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    p { text-align: left; }
    ul {
        text-align: left;
        li {
            display: inline;
        }
    }
    a,a:visited {
        color: #6D9EAB;
        &:hover,&:active { color: #CCC; }
    }
}

