@font-face {
  font-family: inconsolata;
  src: url("/font/Inconsolata.otf"); }

* {
  margin: 0;
  padding: 0; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 100%; }

body {
  height: 100%;
  font-family: inconsolata; }
  body #main {
    width: 600px;
    margin: auto; }
    body #main ul#posts li, body #main ul.postwtags li {
      list-style-type: none;
      padding-bottom: 4em; }
    body #main header#page-title {
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding-top: 1em;
      padding-bottom: 2em; }
      body #main header#page-title a, body #main header#page-title a:visited {
        color: #DE4314; }
        body #main header#page-title a:hover, body #main header#page-title a:active, body #main header#page-title a:visited:hover, body #main header#page-title a:visited:active {
          color: #CCC; }
    body #main nav {
      z-index: 9 !important; }
      body #main nav ul {
        height: 35px;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        padding-bottom: 5em; }
        body #main nav ul li {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          display: inline;
          float: left;
          position: relative;
          list-style: none; }
          body #main nav ul li a {
            display: block;
            font-size: 20px;
            width: 150px;
            line-height: 45px;
            text-align: center;
            text-transform: uppercase; }
            body #main nav ul li a:hover, body #main nav ul li a:active {
              background: #6D9EAB;
              color: #FFFFFF !important; }
            body #main nav ul li a.subscribe {
              color: #DE4314; }
              body #main nav ul li a.subscribe:hover, body #main nav ul li a.subscribe:active {
                background: #DE4314; }
            body #main nav ul li a.active {
              color: #6D9EAB; }
            body #main nav ul li a.inactive {
              text-decoration: line-through; }
    body #main article a.prev, body #main article a.next {
      margin-top: -40px;
      float: right;
      display: inline;
      position: relative; }
      body #main article a.prev img, body #main article a.next img {
        border: none;
        width: 32px;
        height: 32px;
        padding: 10px; }
      body #main article a.prev:hover, body #main article a.next:hover {
        border-bottom: 1px dashed; }
      body #main article a.prev:active, body #main article a.next:active {
        border-bottom: 1px solid; }
    body #main article section {
      line-height: 1.6em;
      padding-top: 4em; }
      body #main article section p a, body #main article section p a:visited {
        color: #6D9EAB; }
      body #main article section ol img {
        margin-left: -3em; }
      body #main article section ol li {
        margin-left: 2em;
        padding: 0.5em; }
      body #main article section ul img {
        margin-left: -3em; }
      body #main article section ul li {
        list-style-type: square;
        margin-left: 2em;
        padding: 0.5em; }
      body #main article section pre {
        border-radius: 3px;
        border: 1px dashed #DE4314;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em; }
      body #main article section img {
        border-radius: 3px;
        border: 1px dashed #ccc;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 10px;
        width: 580px; }
    body #main article img {
      margin-top: 1em;
      margin-bottom: 1em; }
    body #main time {
      float: left;
      padding: 0 1em 0 1em;
      font-size: 16px; }
      body #main time span {
        display: block;
        text-align: center;
        color: #6D9EAB;
        margin: 0;
        padding: 0 auto; }
        body #main time span.day {
          font-size: 1.4em;
          line-height: 0.8em; }
        body #main time span.month {
          font-size: 1em; }
        body #main time span.year {
          font-size: 0.8em; }
    body #main .post-title {
      text-align: left;
      font-size: 16px;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      margin: 0; }
    body #main #tag-cloud {
      border: 1px dashed #ccc;
      border-radius: 3px;
      padding: 1em; }
    body #main #links {
      height: 580px; }
      body #main #links a {
        display: block;
        float: left;
        height: 60px;
        width: 60px; }
  body footer {
    display: inline;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #CCC;
    line-height: 24px;
    background-image: url(/favicon.ico);
    background-size: 16px 16px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #202020; }
    body footer p {
      text-align: left;
      display: inline;
      padding-left: 21px; }
      body footer p a, body footer p a:visited {
        color: #DE4314; }
        body footer p a:hover, body footer p a:active, body footer p a:visited:hover, body footer p a:visited:active {
          color: #ccc; }
    body footer ul {
      display: inline;
      float: right;
      text-align: right;
      padding-right: 21px;
      background-image: url(/faviconm.ico);
      background-size: 16px 16px;
      background-position: right top;
      background-repeat: no-repeat; }
      body footer ul li {
        display: inline; }
        body footer ul li a, body footer ul li a:visited {
          color: #6D9EAB; }
          body footer ul li a:hover, body footer ul li a:active, body footer ul li a:visited:hover, body footer ul li a:visited:active {
            color: #ccc; }

a, a:visited {
  color: #666;
  text-decoration: none;
  outline: 0; }
  a:hover, a:active, a:visited:hover, a:visited:active {
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    color: #DE4314; }

.tags {
  font-size: 1.8em;
  color: #202020;
  text-align: center;
  padding-bottom: 1.5em; }

.meta {
  display: inline;
  text-transform: lowercase;
  padding-bottom: 0.5em; }
  .meta .comments {
    float: right; }
