<nav>
    <ul>
        <li><a href="/" class="inactive"{% if page.url contains '/about/' %} class="active"{% endif %}>acerca</a></li>
        <li><a href="/"{% if page.url contains '/index.html' %} class="active"{% endif %}>blog</a></li>
        <li><a href="/" class="inactive"{% if page.url contains '/contact/' %} class="active"{% endif %}>contacto</a></li>
        <li><a href="/archive.html" class="inactive" {% if page.url contains '/archive.html' %} class="active"{% endif %}>archivo</a></li>
    </ul>
</nav>
