---
layout: default
---
<div id="links">
  {{ content }}
</div>
<script src="http://arguser.com.ar/js/rainbowvis.js"></script>
<script type="text/javascript">
  var divlink = document.getElementById('links');
  var link = divlink.getElementsByTagName('a');

  var rainbow = new Rainbow();
  rainbow.setSpectrum('FFFFFF', '6D9EAB', 'DE4314', '000000');
  rainbow.setNumberRange(0, link.length - 1);

  for (var i = 0; i < link.length; i++) {
          var style = 'background-color:#' + rainbow.colourAt(i) + ';';
          link[i].setAttribute('style', style);
  }
</script>
