body {
  color: #C0C0C0;
  background: #202020; }

a, a:visited {
  color: #F0F0F0;
  text-decoration: none; }
  a:hover, a:active, a:visited:hover, a:visited:active {
    -moz-transition: 0.3s;
    color: #DE4314; }

time {
  background: transparent; }
  time span {
    color: #6D9EAB; }

header#page-title a, header#page-title a:visited {
  color: #DE4314; }
  header#page-title a:hover, header#page-title a:active, header#page-title a:visited:hover, header#page-title a:visited:active {
    color: #CCC; }

nav {
  z-index: 9 !important; }
  nav ul li {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    nav ul li a:hover, nav ul li a:active {
      background: #6D9EAB;
      color: #202020 !important;
      -moz-transition: 0.6s; }
    nav ul li a.subscribe {
      color: #DE4314; }
      nav ul li a.subscribe:hover, nav ul li a.subscribe:active {
        background: #DE4314; }
    nav ul li a.active {
      color: #6D9EAB; }
    nav ul li a.inactive {
      text-decoration: line-through; }

article section p a, article section p a:visited {
  color: #6D9EAB; }

pre {
  border: 1px solid #DE4314;
  background: #F0F0F0;
  color: #202020; }

.tags {
  color: #F0F0F0; }

#tag-cloud {
  border: 1px dashed #ccc; }

a.prev, a.next {
  color: #DE4314;
  float: right; }
  a.prev:hover, a.prev:active, a.next:hover, a.next:active {
    color: #CCC; }

footer {
  color: #202020;
  background-image: url(/faviconma.ico);
  background-size: 16px 16px;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #FFFFFF; }
  footer p a, footer p a:visited {
    color: #DE4314; }
    footer p a:hover, footer p a:active, footer p a:visited:hover, footer p a:visited:active {
      color: #ccc; }
  footer ul {
    background-image: url(/faviconmb.ico);
    background-size: 16px 16px;
    background-position: right top;
    background-repeat: no-repeat; }
    footer ul li a, footer ul li a:visited {
      color: #6D9EAB; }
      footer ul li a:hover, footer ul li a:active, footer ul li a:visited:hover, footer ul li a:visited:active {
        color: #ccc; }
