---
site_title: arguser
site_author: José Pablo Leandro Martín
---
<!DOCTYPE HTML>
<html lang="es">
<head>
    <title>{{ page.site_title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="José Pablo Leandro Martín" />
    <meta name="description" content="Blog Personal" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div id="main" >
    {% include header.html %}
            {{ content }}
        </div>
{% include footer.html %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<!-- scripts concatenated and minified via ant build script-->
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<!--<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>-->
<script type="text/javascript">
    /* * * configuration variables: edit before pasting into your webpage * * */
    var disqus_shortname = 'arguser'; // required: replace example with your forum shortname

    /* * * don't edit below this line * * */
    (function () {
        var s = document.createelement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getelementsbytagname('head')[0] || document.getelementsbytagname('body')[0]).appendchild(s);
    }());
</script>
<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
</body>
</html>
